<div class="associations-container">
<a href="http://www.sme.org" rel="noopener" title="Society of Manufacturing Engineers (SME)"><img src="/img/associations/sme.png" alt="Society of Manufacturing Engineers (SME)" class="show-on-scroll" data-animation-delay='1' /></a>
<a href="http://www.nfpa.org" rel="noopener" title="National Fire Protection Association (NFPA)"><img src="/img/associations/nfpa.png" alt="National Fire Protection Association (NFPA)"  class="show-on-scroll" data-animation-delay='2' /></a>
<a href="http://www.abbra.org" rel="noopener" title="American Boat Builders & Repairers Association (ABBRA)"><img src="/img/associations/abbra.png" alt="American Boat Builders & Repairers Association (ABBRA)" data-animation-delay='3' class="show-on-scroll" /></a>
<a href="http://www.ndia.org" rel="noopener" title="National Defense Industrial Association (NDIA)"><img src="/img/associations/ndia.png" alt="National Defense Industrial Association (NDIA)" data-animation-delay='4' class="show-on-scroll" /></a>
<a href="http://www.aiacanada.com" rel="noopener" title="Automotive Industries Association of Canada"><img src="/img/associations/aia-canada.png" alt="Automotive Industries Association of Canada" data-animation-delay='5' class="show-on-scroll" /></a>
<a href="http://www.nbaa.org" rel="noopener" title="National Business Aviation Association (NBAA)"><img src="/img/associations/nbaa.png" alt="National Business Aviation Association (NBAA)" data-animation-delay='6' class="show-on-scroll"/></a>
<a href="http://www.avaerocouncil.ca" rel="noopener" title="Canadian Council for Aviation & Aerospace"><img src="/img/associations/ccaa.png" alt="Canadian Council for Aviation & Aerospace" data-animation-delay='7' class="show-on-scroll"/></a>
<a href="http://www.aia-aerospace.org" rel="noopener" title="Aerospace Industries Association"><img src="/img/associations/aia.png" alt="Aerospace Industries Association" data-animation-delay='8' class="show-on-scroll"/></a>
</div>