<div class="grid-3">
        <div class="icon-block">
            <object id="svg-1" type="image/svg+xml" data-animate-svg="svg-1" data="/img/icons/icon-basic_pencil_ruler.svg" aria-label="" alt=""></object>
            <br>
            Better equipped to meet all your industry’s clean air regulatory requirements
        </div>
        <div class="icon-block">
            <object id="svg-2" type="image/svg+xml" data-animate-svg="svg-2" data="/img/icons/icon-arrows_circle_check.svg" alt=""></object>
            <br>
            Better equipped to provide a clean, safe working environment
        </div>
        <div class="icon-block">
            <object id="svg-3" type="image/svg+xml" data-animate-svg="svg-3" data="/img/icons/icon-ecommerce_graph_increase.svg" alt=""></object>
            <br>
            Better equipped to increase your operational efficiency and bottom line
        </div>
</div>