<table>
    <tbody>
    {%- for item in compliance -%}
        <tr>
            <td><strong>{{item.code}}</strong></td>
            td>{{item.description}}</td>
        </tr>
    {%- endfor -%}
    </tbody>
</table>