<nav>
            <div class="logo">
                   <a class="header-logo" href="/" title="Duroair Home">{% include "partials/inline-svg-logo.njk" %}</a>
            </div>
            <div class="navbar-collapse collapse">
                <button class="navbar-toggler navbar-toggler-main collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="stick"></span>
                </button>
                <ul class="navbar-nav ms-auto">
                   {%- for item in navs.primary -%}
                        <li class="nav-item-main nav-{{ item.name | lower }} {{ 'has-menu' if item.children.length else '' }}">
                            <a href="/{{ item.file.path | replace('index.html', '') }}" class="link primary-link level-0">
                                {{ item.name | reverseSlug }}
                                {%- if item.children.length -%} <i class="far fa-chevron-down"></i> {%- endif -%}
                            </a>

                            {%- if item.children.length -%}
                            <div class="nav-dropdown" aria-hidden="true">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="nav-dropdown-in">
                                                <h2>{{ item.name }}</h2>
                                                <div class="nav-dropdown-in-item-outer">
                                                    {%- for child in item.children -%}
                                                    <div class="nav-dropdown-in-item">
                                                        <a href="/{{ child.file.path | replace('index.html', '') }}">
                                                            {{ child.file | navLabel }} <img src="images/nav-icon.svg" alt="Image">
                                                        </a>
                                                    </div>
                                                    {%- endfor -%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        <div class="nav-right-part d-flex align-items-center">
            <div class="service-request-search">
                  <a href="/request-for-quote/" class="btn btn-rfq">Request for Quote</a>
                  <button type="button" id="search-trigger" data-search-trigger><i class="fal fa-search"></i></button>
            </div>
                <button class="navbar-toggler navbar-toggler-main" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="stick"></span>
                </button>
        </div>
</nav>
