<div class="solutions-delivered grid-4 sm-grid-2 show-on-scroll fade-up">
    <img src="/img/delivered/alfa.png" alt="alfa logo" loading="lazy" />
    <img src="/img/delivered/army-logo.png" alt="U.S. Army logo" loading="lazy" style="max-height: 116px;"/>
    <img src="/img/delivered/azz.png" alt="azz logo" loading="lazy"/>
    <img src="/img/delivered/bae-systems.png" alt="bae systems logo" loading="lazy"/>
    <img src="/img/delivered/bitmap.png" alt="Delta logo" loading="lazy"/>
    <img src="/img/delivered/gbx.png" alt="GBX  logo" loading="lazy"/>
    <img src="/img/delivered/ge-aviation.png" alt="GE Aviation logo" loading="lazy"/>
    <img src="/img/delivered/grandquartz.png" alt="Grand Quartz logo" loading="lazy"/>
    <img src="/img/delivered/hawker-pacific-aerospace.png" alt="hawker-pacific-aerospace logo" loading="lazy"/>
    <img src="/img/delivered/lockheed-martin.png" alt="lockheed-martin logo" loading="lazy"/>
    <img src="/img/delivered/lufthansa.png" alt="lufthansa logo" loading="lazy"/>
    <img src="/img/delivered/philadelphia.png" alt="philadelphia logo" loading="lazy"/>
    <img src="/img/delivered/toshiba.png" alt="toshiba logo" loading="lazy"/>
    <img src="/img/delivered/us-aviation.png" alt="us-aviation logo" loading="lazy"/>
    <img src="/img/delivered/us-navy.png" alt="us-navy logo" loading="lazy"/>
    <img src="/img/delivered/zelus.png" alt="zelus logo" loading="lazy"/>
</div>