{% extends "layout.njk" %}
{% set waveType = 'gray' %}
{% block body %}

<!-- Our Lagecy Section Begin -->

    <div class="lagecy-sec">
      <div class="container">
        <div class="lagecy-inr">
          <div class="lagecy-inr-row row">
            <div class="lagecy-left-wrp col-lg-6">
              <div class="lagecy-left">
                <div class="sec-inr-head">
                  <h2>{{ about_intro.heading }}</h2>
                </div>
                <div class="lagecy-content">
                  {{ about_intro.description }}
                </div>
              </div>
            </div>
            <div class="lagecy-right-wrp col-lg-6">
                <div class="lagecy-right">
                    <div class="lagecy-right-imges">
                        <div class="img-1 lagecy-img-wrp">
                            <img src="{{ about_intro.image_1 }}" alt="Lagecy image">
                        </div>
                        <div class="img-2 lagecy-img-wrp">
                            <img src="{{ about_intro.image_2 }}" alt="Lagecy Image">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- End Of Our Lagecy Section -->

<!-- Nederman Section Begin -->

<div class="nederman-sec">
  <div class="container">
      <div class="nederman-inr">
          <div class="heading">
              <h2>{{ a_nederman_company.heading }}</h2>
          </div>
          <div class="nederman-content">
            {{ a_nederman_company.description }}
          </div>
      </div>
  </div>
</div>

<!-- End Of Nederman Section -->

<div class="bg-light">
    <section class="section">
        <h3 class="text-center ruled">Always Engineered, Never Off the Shelf</h3><br><br>
        {%- for card in cards -%}
        <div class="card card-horizontal" data-href="{{card.url}}">
            <div class="card-img-container">
                <img src="{{card.image}}" class="img-responsive card-img" alt="">
            </div>
            <div class="card-copy">
                <h4 class="h3 pc">{{card.title}}</h4>
                {{card.copy}}
                <br><a href="{{card.url}}" class="link-learn-more card-link">Learn More</a>
            </div>
        </div>
        {%- endfor %}
    </section>
</div>
<section class="section">
    <h3 class="ruled text-center">Solutions Delivered</h3>
    <br><br>
        {% include "partials/solutions-delivered.njk" %}
</section>
<section class="section">
    <h3 class="ruled text-center">Duroair, a Nederman Company</h3>
    <br><br>
        {% include "partials/about-us-additional.njk" %}
</section>
{% endblock %}