{% extends "layout.njk" %}
{% block body %}
<section class="section narrow ">
    <div class="text-center">
        {{ contents | safe }}
        <br><br>
        {% include "partials/associations.njk" %}
    </div>
</section>
{% endblock %}
{% block testimonial %}
{% include "partials/testimonial.njk" %}
{% endblock %}