{% extends "layout.njk" %}
{% block body %}
<section class="section narrow ">
    <div class="text-center">
        {{ contents | safe }}
        <br><br>
    </div>
</section>

    <!-- Industry Partner Section Begin -->

        <div class="industry-partner-sec">
            <div class="container">
                <div class="industry-partner-inr">
                    <div class="sec-head newhedline">
                        <h2>Our Industry Association Partners</h2>
                    </div>
                    {% include "partials/associations.njk" %}
                </div>
            </div>
        </div>

    <!-- End Of Industry Partner Section -->

{% endblock %}
{% block testimonial %}
{% include "partials/testimonial.njk" %}
{% endblock %}