{% extends "layout.njk" %}
{% block body %}
<section class="section">
    <div class="grid-2 vc">
        <div>
            <img src="{{image_1}}" width="683" height="468" loading="lazy" class="img-responsive grid-img shadow" alt="" />
        </div>
        <div class="ruled-headers">{{ contents | safe }}</div>
    </div>
</section>

<!-- CLEAN-AIR-APPLICATIONS-SECTION -->

<div class="clean-air-app-wrap">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="section-heading">
            <h2>Clean Air Applications</h2>
        </div>
        </div>
        <div class="col-lg-12">
        <div class="clean-air-app-grid row">
            {%- for solution in solutions -%}
            <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="clean-air-app-item">
                <a href="/{{solution.path}}"> <span>{{solution.title}}</span>
                <img src="{{solution.thumbnail}}" alt="Image">
                <span class="btn-arw-icon"><img src="/img/arw-btn-icon.svg" alt="Icon"></span>
                </a>
            </div>
            </div>
            {%- endfor -%}
        </div>
        </div>
    </div>
    </div>
</div>
<!-- CLEAN-AIR-APPLICATIONS-SECTION -->

<!-- BEYOND-COMPLIANCE-SECTION -->

        <div class="beyond-compliance-wrap">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Beyond Compliance</h2>
                </div>
                </div>
                {%- include "partials/beyond-compliance-icon-blocks.njk" -%}
                <div class="col-lg-12">
                <div class="section-cta">
                    <a href="/about/beyond-compliance/" class="button">Learn more<span class="button__spotlight"></span></a>
                </div>
                </div>
            </div>
            </div>
        </div>

    <!-- BEYOND-COMPLIANCE-SECTION -->

    <!-- RESPONSIVE-REQUIREMENTS-SECTION -->
        <div class="responsive-requirements-wrap">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="responsive-requirements-in">
                    <div class="responsive-requirements-image"> 
                        <img src="{{image_2}}" loading="lazy" class="img-responsive shadow grid-img" alt="Duroair" />
                    </div>
                    <div class="responsive-requirements-text">
                        {{ copy_block_1 | md }}
                    </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
    <!-- RESPONSIVE-REQUIREMENTS-SECTION -->
    </section>
</div>
<section class="section">
   <div class="global-leaders-wrap">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Trusted by Global Leaders</h2>
                </div>
                </div>
                <div class="col-lg-12">
                  {% include "partials/solutions-delivered.njk" %}
                </div>
            </div>
            </div>
        </div>
{% block testimonial %}
{% include "partials/testimonial.njk" %}
{% endblock %}
</section>
{% endblock %}
