{% extends "layout.njk" %}
{% block body %}

    <!-- Transforming Solution Section Begin -->

    <div class="transforming-solution-sec cmn-gap airospace-aviation-pg">
        <div class="container">
            <div class="transforming-solution-inr has-texture">
                <div class="texture"><img src="/img/military-csstdy-texture.png" alt="Texture"></div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="transfrom-solution-left">
                            <div class="sec-inr-head">
                                {{ contents | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="transfrom-solution-right row">
                            <div class="transfromsl-img-wrp">
                                <div class="transforming-solution-img">
                                    <img src="{{image_1}}" alt="Image">
                                </div>
                                <div class="blob1"></div>
                            </div>
                            <div class="transfromsl-img-wrp">
                                <div class="transforming-solution-img">
                                    <img src="{{image_3}}" alt="Image">
                                </div>
                                <div class="blob1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Of Transforming Solution Section -->

    <!-- Expertise Section Begin -->

        <div class="expertise-sec airospace-aviation-pg cmn-gap pt-0">
            <div class="container">
                <div class="expertise-inr expertise-bg">
                    <div class="expertise-cards row">
                        <div class="expts-card-left-wrp col-lg-6">
                            <div class="expts-card-left">
                                <div class="exptscd-img">
                                    <img src="{{image_2}}" alt="Expertise Image">
                                </div>
                            </div>
                        </div>
                        <div class="expts-card-right-wrp col-lg-6">
                            <div class="expts-card-right">
                                {{ secondary_copy | md }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Expertise Section -->

    <section class="section">
        <br><br><h3 class="text-center ruled">Solutions for Your Industry</h3>
        <div class="solutions">
            {%- for item in solutions_for_industry -%}
            {%- set solution  = item | findByField('title', solutions) -%}
            <a data-duration class="solution-item" href="/{{solution.path}}" style="background-image:url('{{solution.thumbnail}}');"><span>{{solution.title}}</span></a>
        {%- endfor -%}
        </div>
    </section>
    <div class="bg-light">
      {%- if related_products -%}
        <section class="section">
            <h3 class="ruled text-center">Duroair Products</h3><br><br>
            <div class="grid-3 related-products">
                {%- for p in related_products -%}
                {%- set item  = p | findByField('title', products) -%}
                {%- set cardCssClass  = 'card-product' -%}
                {% include "partials/card.njk" %}
                {%- endfor -%}
            </div>
        </section>
        {%- endif -%}
    </div>
{% endblock %}
{% block testimonial %}
{% include "partials/testimonial.njk" %}
{% endblock %}