<!doctype html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
    {% block additionalHead %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="page-{{ path | cssClassify }} {{ layout | cssClassify }}">
    {%- include "partials/gtm-noscript.njk" -%}
    {% include "partials/header.njk" %}
    {% include "partials/jumbotron.njk" %}
    <main>
        {% block body %}{% endblock %}
    </main>
    {% block testimonial %}{% endblock %}
    {% include "partials/footer-cta.njk" %}
    {% include "partials/footer.njk" %}
    <script src="/js/jquery.js" type="text/javascript" defer></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript" defer></script>
    <script src="/js/animation.js" type="text/javascript" defer></script>
    <script src="/js/slick.min.js" type="text/javascript" defer></script>
    <script src="/js/custom.js" type="text/javascript" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    {% block additionalScripts %}{% endblock %}
</body>
</html>
