{% extends "layout.njk" %}
{% block body %}

<!-- Cmn About Section Begin -->

        <div class="cmn-about-sec cmn-gap durocap-about-sec">
            <div class="container">
                <div class="cmn-about-inr">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmn-about-right">
                                <div class="cmn-about-right-inr">
                                    <div class="sec-inr-head">
                                        <h2>{{ product_intro.heading }}</h2>
                                    </div>
                                    <div class="cmnabt-box">
                                        <p>{{ product_intro.description }}</p>
                                    </div>
                                    <a href="#url" class="cmn-btn button"><span class="button__spotlight"></span>Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cmn-about-left">
                                <div class="cmnabt-img"><img src="{{ thumbnail }}" alt="Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Cmn About Section -->

    <!-- DuroCap Features Section Begin -->

<div class="durocap-features-sec has-texture newtexturepos cmn-gap">
    <div class="container">
        <div class="durocap-features-inr">
            <div class="texture">
                <img src="/img/shape-4.png" alt="Texture">
            </div>
            <div class="texture-2 texture">
                <img src="/img/shape-4.png" alt="Texture">
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="durocap-features-left">
                        <div class="durocap-features-img-col pt">
                            <div class="dcapfture-img">
                                <img src="{{ key_images.images_1 }}" alt="DuroCap Features Image">
                            </div>
                            <div class="dcapfture-img">
                                <img src="{{ key_images.images_2 }}" alt="DuroCap Features Image">
                            </div>
                        </div>
                        <div class="durocap-features-img-col pb">
                            <div class="dcapfture-img">
                                <img src="{{ key_images.images_3 }}" alt="DuroCap Features Image">
                            </div>
                            <div class="dcapfture-img">
                                <img src="{{ key_images.images_4 }}" alt="DuroCap Features Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="durocap-features-right">
                        <div class="sec-inr-head">
                            <h2>Key Features</h2>
                        </div>
                        <div class="durocap-features-items-wrp">
                            {%- for item in new_key_features -%}
                            <div class="durocap-features-item">
                                <div class="dcapftures-heading">
                                    <h3>{{ item.heading }}</h3>
                                    <span class="chevron">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </span>
                                </div>
                                <div class="dcapftures-content">
                                    <p>{{ item.description | nl2br }}</p>
                                </div>
                            </div>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<!-- End Of DuroCap Features Section -->


    <div class="relative overflow-x-hidden">
        <section class="section static fi-container">
            <img class="floating-image" src="{{ image_2 }}" alt="">
            <div class="grid-2 ruled-headers">
                <div class="">
                    <h3>Technical Specifications</h3>
                    {{ technical_specifications | md }}
                    {% if brochure %}
                        <p>For
                            {% if nav_title != 'DuroDust' %}
                                    ISO classifications and
                            {% endif %}
                        other technical information, download our {{ nav_title}} fact sheet!</p>
                        <a href="{{ brochure }}" class="btn btn-outline brand-primary" target="_blank">{{ btn_label | default( "Download Brochure") }}</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

    <section class="section pt-0">
        {#        <h3 class="text-center ruled">{{ title }} ISO 14644-1 Classifications</h3> #}
        <div class="collapse-trigger-container bg-white" data-toggle="#iso-info">
            <h4 class="collapse-trigger">{{ title }} ISO 14644-1 Classifications</h4>
            <div class="collapsible" id="iso-info"><br>
                <p class="text-center">All classifications are in accordance with U.S. Federal Standard 209E and represent concentrations of particles using reference size of 0.5 micron.</p>
                <table class="code-compliance bg-white">
                    <thead>
                    <th>Code Compliance</th>
                    <th>Code Description</th>
                    </thead>
                    {%- for item in compliance -%}
                        <tr>
                            <td><strong>{{ item.code }}</strong></td>
                            <td>{{ item.description | nl2br }}</td>
                        </tr>
                    {%- endfor -%}
                </table>
            </div>
        </div>
    </section>
{% endblock %}