{% extends "layout.njk" %}
{% set waveType = 'gray' %}
{% block body %}
<div class="bg-light">
    <section class="section">
        {{ contents | safe }}
    
        {% set grid = solutions %}
        {% set gridCssClass = 'grid-3' %}
        {% include "partials/grid.njk" %}
    </section>
</div>
{% endblock %}