{% extends "layout.njk" %}
{%- set hideFooterCta = true -%}
{% set waveType = 'gray' %}
{% block body %}
    <script>
        window.indNoPromo = true;
    </script>
    <div class="thank-you-sec cmn-gap has-texture">
        <img src="/img/texture-thank.png">
        <div class="container" >
            <div class="intro" style="text-align:center; margin:0 auto;">
                <div class="animated center"></div>
                {{ contents | safe }}
                <br><br><br>
            </div>
        </div>
        <div class="success_bottom_img">
            <img src="/img/thankyou-btm-img.png">
        </div>
    </div>
{% endblock %}